{% extends 'base.html.twig' %}
{% block body %}
    <div style="max-width: 1200px; margin: 50px auto">
        <h1>{{ checkit }}</h1>
        <div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
